.targetItem {
  opacity: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 210px;
  margin: 0px 20px 20px 20px;
}

.targetTitle {
  padding: 5px;
  margin: 10px;
}
