.trashcanItem {
  opacity: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 140px;
  margin: 0px 20px 20px 20px;
}

.trashcanTitle {
  padding: 5px;
  margin: 10px;
}
